body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.msgtexto {
    padding-left: 20px;
    margin-bottom: 1ex;
}

.tempo {
    font-size: xx-small;
}

.nomeusu {
    font-weight: bold;
}
